*{
    max-width: 100%;
}
h2{
  color: #20a03c;
}
#chinh-sach{
  margin-left: 100px;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: orange; }
}
.sub-login{
  border-radius: 15px;
}
.sub-cart{
  border-radius: 15px;
}
.sub-service{
  border-radius: 15px;
}
.intro{
  margin-left: 10px;
  display: grid;
  grid-template-columns: auto auto;
}
.text{
    display: inline-block;
    margin-left:30px;
    font-weight: 400;
}
.typed-out-1{
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(50, end) forwards,
  blink .8s  infinite;
}
.typed-out-2{
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(50, end) forwards,
  blink .8s  infinite;
  animation-delay: 3s;
}
.typed-out-3{
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(50, end) forwards,
  blink .8s  infinite;
  animation-delay: 6s;
}
.typed-out-4{
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(50, end) forwards,
  blink .8s  infinite;
  animation-delay: 9s;
}
.intro{
    margin-left: 10px;
    display: grid;
    grid-template-columns: auto auto;
}
.iconify{
    cursor: pointer;
}
#menu-first{
    display: grid;
    grid-template-columns:8fr 1fr 1fr 1fr; 
}
#menu-first .sub-login{
    display: none;
    top: 45px;
    left: 80%;
    position: absolute;
}
#menu-first li:hover .sub-login{
    display: block;
    background-color: white;
    box-shadow: 1px 1px 10px  #888888;
}
.sub-login li{
    margin: 5px;
    text-align: left;
    list-style: none;
}
.sub-login li a{
    font-size: 12px;
    text-decoration: none;
}
.sub-login li a:hover{
    color: #32CD32;
}
#menu-first .sub-cart{
    display: none;
    top: 45px;
    left: 85%;
    position: absolute;
}
#menu-first li:hover .sub-cart{
    display: block;
    background-color: white;
    box-shadow: 1px 1px 10px  #888888;
}
.sub-cart li{
    margin: 5px;
    text-align: left;
    list-style: none;
}
.sub-cart li a{
      font-size: 12px;
    text-decoration: none;
}
.sub-cart li a:hover{
    color: #32CD32;
}
#menu-first .sub-service{
    display: none;
    top: 45px;
    left: 90%;
    position: absolute;
}
#menu-first li:hover .sub-service{
  display: block;
  background-color: white;
  box-shadow: 1px 1px 10px  #888888;
}
.sub-service li{
    margin: 5px;
    text-align: left;
    list-style: none;
}
.sub-service li a{
    font-size: 12px;
    text-decoration: none;
}
.sub-service li a:hover{
    color: #32CD32;
}
#menu-first{
    list-style: none;
}
.menu{
  text-align: center;
  padding-bottom: 10px;
}
.menu ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}
.menu ul li{
  list-style-type: none;
}
.menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color:black;
}
.menu ul li a:hover{
  color:#32CD32;
}
.search:hover{
  border: 3px solid orange;
  border-radius: 5px;
  box-shadow: 1px 1px 10px  orange;
}
#carouselExampleIndicators{
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}
.c1{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo p{
  color: #fff;
  font-family: Bodoni;
}
.text{
  margin-top:50px;
}
.end-web{
  margin-top:50px;
  margin-right: 30px;
}
.end-web-1 ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.end-web-1 ul li{
  list-style-type: none;
  font-weight: bold;
}
.end-web-2 ul{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.end-web-2 ul li{
  list-style-type: none;
  font-weight: 300;
}
.end-web-2 a{
  text-decoration: none;
  color: black;
}