*{
    max-width: 100%;
    transition-duration: 0.3s;
}
.container {
  display: inline-block;
  height: 300px;
  border-radius: 5px;
  padding:10px;
}
#carouselExampleIndicators{
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}
.intro{
  margin-left: 10px;
  display: grid;
  grid-template-columns: auto auto;
}
.sub-login{
  border-radius: 15px;
}
.sub-cart{
  border-radius: 15px;
}
.sub-service{
  border-radius: 15px;
}
.iconify{
  cursor: pointer;
}
#menu-first{
  display: grid;
  grid-template-columns:8fr 1fr 1fr 1fr; 
}
#menu-first .sub-login{
  display: none;
  top: 45px;
  left: 80%;
  position: absolute;
}
#menu-first li:hover .sub-login{
  display: block;
  background-color: white;
  box-shadow: 1px 1px 10px  #888888;
}
.sub-login li{
  margin: 5px;
  text-align: left;
  list-style: none;
}
.sub-login li a{
    font-size: 12px;
  text-decoration: none;
}
.sub-login li a:hover{
  color: #32CD32;
}
#menu-first .sub-cart{
  display: none;
  top: 45px;
  left: 85%;
  position: absolute;
}
#menu-first li:hover .sub-cart{
  display: block;
  background-color: white;
  box-shadow: 1px 1px 10px  #888888;
}
.sub-cart li{
  margin: 5px;
  text-align: left;
  list-style: none;
}
.sub-cart li a{
    font-size: 12px;
  text-decoration: none;
}
.sub-cart li a:hover{
  color: #32CD32;
}
#menu-first .sub-service{
  display: none;
  top: 45px;
  left: 90%;
  position: absolute;
}
#menu-first li:hover .sub-service{
  display: block;
  background-color: white;
  box-shadow: 1px 1px 10px  #888888;
}
.sub-service li{
  margin: 5px;
  text-align: left;
  list-style: none;
}
.sub-service li a{
    font-size: 12px;
  text-decoration: none;
}
.sub-service li a:hover{
  color: #32CD32;
}
#menu-first{
  list-style: none;
}
.menu{
  text-align: center;
  padding-bottom: 10px;
}
.menu ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}
.menu ul li{
  list-style-type: none;
  padding-top: 15px;
}
.menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color:black;
}
.menu ul li a:hover{
  color:#32CD32;
}
.search:hover{
  border: 3px solid orange;
  border-radius: 5px;
  box-shadow: 1px 1px 10px  orange;
}
.logo p{
  color: #fff;
  font-family: Bodoni;
}
.text{
  margin-top:50px;
}